<h1>Suma de dos numeros</h1>
<form action="/prueba" method="post">
<label for="numero1">Primer numero: </label>
<input type="text" name="numero1" id="numero1" placeholder="Ingrese un numero" value="{{numero1}}">
</br>
<label for="numero2">Segundo numero: </label>
<input type="text" name="numero2" id="numero2" placeholder="Ingrese un numero" value="{{numero2}}">
<br>
<input type="submit" name="ingresar" value="sumar" id="ingresar"/>
</form>
<div>
  <h2>Suma</h2>
    {{msg}}
</div>
